div input {
    display: inline-block;
}

input {
    font-size: 12px;
}

#found-label {
    display: block;
    float: left;
    margin: 4px 2px 2px;
}

#clear {
    color: #838383;
}

#found-list {
    float: left;
    border-collapse: collapse;
    clear: both;
    width: calc(100% - 17px);
    font-size: 9px;
    font-family: sans-serif;
    margin-bottom: 14px;
    display: none;
    table-layout: fixed;
}

table {
    table-layout: fixed;
}

th {
    background: #e9e9e9;
    color: #363636;
    text-transform: capitalize;
}

th {
    padding: 5px 7px;
    border: 1px solid #626970;
}

th:nth-child(1) {
    border-left: 1px solid #626970;
}

th:nth-child(4) {
    border-right: 1px solid #626970;
}

td {
    border: 1px solid black;
    padding: 2px 4px;
}

td:nth-child(2),
td:nth-child(3) {
    text-align: center;
}

td:nth-child(2) {
    max-width: 170px;
}

td:nth-child(2)>a {
    font-weight: bold;
    color: black;
    padding: 0px 8px;
}

td:nth-child(4)>a {
    color: black;
}

td:nth-child(3) {
    max-width: 150px;
}

td:nth-child(4) {
    max-width: 410px;
    word-break: break-all;
}

#passive {
    float: left;
    display: block;
    margin: 5px 3;
}

#toggle {
    margin: 5px 2px 6px 2px;
    margin-left: 12px;
    float: left;
}

div>h3 {
    float: left;
    margin: 4px 2px;
    clear: both;
}

#buster {
    display: none;
    float: left;
    margin: 5px 1px;
}

body>div {
    min-width: 700px;
}

#brutehash {
    margin: 5px 2px;
    float: left;
}

#brute {
    margin: 5px 2px;
    margin-left: 13px;
    float: left;
}

#found-list {
    display: block;
    width: 100%;
}

#found-label {
    margin-bottom: 16px;
    display: block;
    clear: both;
}

button {
    font-size: 10px;
    float: right;
}